<!-- 9. This is a template, so not a whole HTML tag with head and body necessary-->
<div class="col-xs-12">
        <div class="jumbotron text-center">
            <h1>Add Skills Below</h1>
        </div>
        <form name="groceryForm">
            <div class="form-group">
                <!-- 25 ng model. Saving the user input as a variable -->
                <input type="text" class="form-control" placeholder="Skills" ng-model="skillsItem.itemName">
            </div>

            <div class="form-group">
                <!-- 26. ng click. AddEventListener-->
                <a href="#/" style="margin-bottom: 10px;" class="btn btn-primary btn-lg btn-block" ng-click="save()">
        <span class="glyphicon glyphicon-plus"></span>
          Save
    </a>
                  
                
            </div>

            <div class="form-group">
                <a href="#/" style="margin-bottom: 10px;" class="btn btn-primary btn-lg btn-block">
        <span class="glyphicon glyphicon-plus"></span>
        Cancel
    </a>
                    
            
            </div>
        </form>

        <!-- 17. Add routeParams in this template file.-->
    </div>