<!-- 9. This is a template, so not a whole HTML tag with head and body necessary-->
<div class="col-xs-12">
        <div class="jumbotron text-center">
            <h1>Add Skills Below</h1>
        </div>
        <form name="skillsForm">

<!-- 40. ng-show as a next directive. It is a bootstrap alert box.-->
  <div class="alert alert-danger" role="alert" ng-show="!skillsForm.$valid">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Enter a valid grocery item!
        </div>


            <div class="form-group">
                <!-- 25 ng model. Saving the user input as a variable -->
                <!-- 38. ng-patterns (directive) as a form validation. Actually, it is a ng model validation-->
                <input type="text" ng-pattern="/^[a-zA-Z]*$/" class="form-control" placeholder="Skills" ng-model="skillsItem.itemName" required>
            </div>

            <div class="form-group">
                <!-- 26. ng click. AddEventListener-->
                <!-- 39. Adding "skillsForm.$valid &&", which means only add the user input, if it is valid-->
                <button type="button" class="btn btn-success btn-lg btn-block" ng-click="skillsForm.$valid &&save()">
                <span class="glyphicon glyphicon-pushpin"></span>
                Save
            </button>
                  
                
            </div>

            <div class="form-group">
                <a href="#/" class="btn btn-default btn-lg btn-block">
                <span class="glyphicon glyphicon-remove"></span>
                Cancel
            </a>
                    
            
            </div>
        </form>

        <!-- 17. Add routeParams in this template file.-->
    </div>