<div class="col-xs-12">
	<!-- 10. Adding a button-->
	<a href="#/inputItem" style="margin-bottom: 10px;" class="btn btn-primary btn-lg btn-block">
		<span class="glyphicon glyphicon-plus"></span>
        Add a new Skill
	</a>
        <ul class="list-group">
            <!-- 4. ng-repeat works like a loop-->
            <!-- 5. filter with orderBy -->
            <li ng-repeat="item in skillsItems | orderBy:'itemName'" class="list-group-item text-center clearfix">
                <!-- 46. Adding the new defined HTML Element in the app.js . app.directive section-->
                <tb-skills-item></tb-skills-item>
            </li>
        </ul>
    </div>